[Unit]
Description=COSMOS SatNOGS interface

[Service]
Type=forking
PIDFile=/run/cosid.pid
ExecStart=uniclogs-cosi -p 6h
User=psas
Group=psas


[Install]
WantedBy=multi-user.target
